@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap'); 

body {  
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
    /* background-image: linear-gradient(to bottom, #000000, #363636, #6c6c6c, #a7a7a7, #e6e6e6); */

}





.modal-body img{
margin: 0px;
align-items: center;
}
.navbar{
  position: relative;
  height: auto;
  width: auto;
}

.first-page{
    position: relative;
    height: 100%;
    background-color: 
    #1f1f1f;
    height: auto;
}

.first-page-content{
    position: relative;
    height: 100vh;
    z-index: 1;  
    height: auto;  
}
.first-page-content h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding:20px;
}
.first-page-content h3{
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #f1f1f1;
}

.sections-container {
    display: flex;
height: 80vh;
}

.left-section,
.right-section {
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    height: 80vh;
}

.left-section {
    width: 60%;
    background-color: rgba(240, 255, 255, 0);
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section .content {
    width: 100%;
    height:auto;
    background-color: #f5f5f500;
    box-shadow: 20px;
    border-radius: 35px;

}
.homepic{
  height: 100%;
    width:95%;
    position: relative;
    border-radius: 35px;
  }

.right-section {
    /* background-color: #f5f5f5; */
    width: 40%;
    background-color: #f4f4f478;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    height: 78vh;
}

.right-section h1, .right-section h3{
  text-align: right;
  margin: 0px;
  font-size: 70px;
  padding: 5px;
  margin-right: 20px;
  color: #181717;
}

.right-section .content {
    width: 100%;
    height: auto;
    font-size: 17px;
    text-align: justify;
    max-width: 600px;
    background-color: #fff;
    line-height: 1.5;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    right: 25px;

  }



.second-page{
    position: relative;
    height: min-content;
    background-color:  #1f1f1f;
}

.second-page-content{
    position: relative;
    height: min-content;
    z-index: 1;    
}

/* .second-page-content h1{
    font-size: 40px;
    margin: 20px;
    text-align: center;
    color: #FFFFFF;

} */
.first-page-content hr, .second-page-content hr, .third-page-content hr, .fourth-page-content hr{
    width: 30%;
    height: 10px;
    justify-content: center;
    color: #fffdfd;
    text-align: center;
  margin-bottom: 20px;
}
 .second-page-content hr{
  width: 30%;
  height: 10px;
  justify-content: center;
  color: #fffdfd;
  text-align: center;
}

.third-page{
    position: relative;
    height: 100%;
    background-color: #1f1f1f;
    height: auto;
}

.third-page-content{
    position: relative;
    height: 110vh;
    z-index: 1;    
    height: auto;
}

.second-page-content h1 ,.third-page-content h1, .fourth-page-content h1{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    position: inherit;
    height: auto;
    color: #ddd;

}
.third-page-bottom{
  width: 100vh;
  height:auto;
  margin-top: auto;
  position: relative;
}

.third-page-bottom-section{
  flex-direction: column;
  margin-top: auto;
  position: inherit;
}


.modal-customize{
width: auto;
width: auto;
position: relative;
}

.modal-customize h1{
  font-size: 30px;
  text-align: center;
}

.modal-customize h3{
  font-size: 20px;
  text-align: left;
}

.modal-customize p{
  font-size: 16px;
}


.card{
  width: 320px;
   border-radius: 10px;
    border-color: bisque;
     background-color: #f1f1f1; 
     border-width: 3px
}
    .flip-card {
        background-color: black;
        width: 320px;
        /* border: 1px solid #f1f1f1; */
        perspective: 1000px; 
        height: auto;
    }
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: auto;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
    }
    
    .flip-card-front {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        background-color: #f1f1f1;
        color: black;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
    }
    
    .flip-card-back {
        background-color: transparent;
        color: white;
        transform: rotateY(180deg);
        justify-content: center;
        align-items: center;
        gap: 10px; 
        border-radius: 12px;
        width: 100%;


    }
    
    /* CSS */
    .button-82-pushable {
      position: relative;
      border: none;
      background: transparent;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
      transition: filter 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-82-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: hsl(0deg 0% 0% / 0.25);
      will-change: transform;
      transform: translateY(2px);
      transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    
    .button-82-edge {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
      );
    }
    
    .button-82-front {
      display: block;
      position: relative;
      padding: 12px 27px;
      border-radius: 12px;
      font-size: 1.1rem;
      color: white;
      background: hsl(345deg 100% 47%);
      will-change: transform;
      transform: translateY(-4px);
      transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    
    @media (min-width: 768px) {
      .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
      }
    }
    
    .button-82-pushable:hover {
      filter: brightness(110%);
      -webkit-filter: brightness(110%);
    }
    
    .button-82-pushable:hover .button-82-front {
      transform: translateY(-6px);
      transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    
    .button-82-pushable:active .button-82-front {
      transform: translateY(-2px);
      transition: transform 34ms;
    }
    
    .button-82-pushable:hover .button-82-shadow {
      transform: translateY(4px);
      transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    
    .button-82-pushable:active .button-82-shadow {
      transform: translateY(1px);
      transition: transform 34ms;
    }
    
    .button-82-pushable:focus:not(:focus-visible) {
      outline: none;
    }

    

/* ============ */


.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    padding: 50px 0;
    font-family: Jost;
  }
  
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timeline {
    width: 80%;
    height: auto;
    max-width: 900vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .timeline-content {
    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
            box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: justify;
  }
  
  .timeline-component {
    margin: 0px 20px 20px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    /* .timeline img{
        width: 50%;
  height: 50%;
  object-fit: cover; 
    } */
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
      width: 3px;
      height: 100%;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

.divider{
width: 100%;
height: 100%;
position: relative;
background-color: #1f1f1f;
}


  .fourth-page{
    position: relative;
    height: 100%;
    background-color: #1f1f1f;
    height: auto;
}

  .fourth-page-content{
    position: relative;
    height: 110vh;
    z-index: 1;    
    height: 90vh;
    background-color: #1f1f1f8b;
}

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 280px);
    gap: 10px;
}

.grid-item {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
}

.grid-container :hover {
  background-color: rgb(61, 61, 61);
  color: black;
  cursor: pointer;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: transparent;
}

.large {
    grid-row: span 2;

  }

.wide {
    grid-column: span 2;
    object-fit: contain;

}
